<a href="https://colab.research.google.com/github/saciva-team-2b/Saciva-University-Recommendation-System-2B/blob/main/Saciva_University_Recommendation_System_2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **WorldUniversityRankings**

Contributors: William Widjaja

## **Data Exploration and Analysis**

1. College Scorecard (2024)
2. College Scorecard Most Recent Institution-Level Data (2024)
3. College Scorecard Most Recent Data by Field of Study (2024)

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
cwurData = os.path.join(os.getcwd(), 'datasets', 'WorldUniversityRankings2019', 'cwurData.csv')
education_expenditure_supp = os.path.join(os.getcwd(), 'datasets', 'WorldUniversityRankings2019', 'education_expenditure_supplementary_data.csv')


cwurDataDF = pd.read_csv(cwurData, low_memory=False)
cwurDataDF.loc[cwurDataDF["country"] == "USA"]

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
5,6,Princeton University,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,901,University of Southern Mississippi,USA,225,367,567,218,913,853,812,850.0,676,44.13,2015
2105,906,Oakland University,USA,226,367,567,218,888,810,812,850.0,871,44.13,2015
2112,913,University of North Dakota,USA,227,367,567,218,917,731,812,867.0,606,44.12,2015
2128,929,University of Texas at El Paso,USA,228,367,442,218,910,838,812,906.0,706,44.10,2015
2135,936,"University of California, Merced",USA,229,367,567,218,899,540,812,906.0,491,44.09,2015

In [3]:
# find necessary columns
keptColumns = ["INSTNM", "CITY", "ACCREDAGENCY", "HCM2", "MAIN", "PREDDEG", "HIGHDEG", "CONTROL", "ST_FIPS", "REGION", "CCBASIC", "CCUGPROF", "ADM_RATE", "SAT_AVG", "DISTANCEONLY", "CURROPER", "TUITIONFEE_OUT", "ICLEVEL", "BOOKSUPPLY", "ROOMBOARD_ON", "OTHEREXPENSE_ON", "ROOMBOARD_OFF", "OTHEREXPENSE_OFF", "ADMCON7", "MDCOST_ALL", "MDEARN_ALL", "STUFACR"]
renamedColumns = {
	"INSTNM": "institute_name", "CITY": "city", "ST_FIPS": "state_num", "REGION": "region",
	
	"ACCREDAGENCY": "accredited", "HCM2": "financially_monitored", "TUITIONFEE_OUT": "tuition",

	"CONTROL": "organization", "MAIN": "is_main_campus", "CURROPER": "is_active",

	"PREDDEG": "predominant_deg_awarded", "HIGHDEG": "highest_deg_awarded", "ADM_RATE": "admission_rate",

	"CCBASIC": "college_type", "CCSIZSET": "college_length_and_setting", "ICLEVEL": "length_of_institution",

	"SAT_AVG": "SAT_average", "DISTANCEONLY": "virtual", 

	"BOOKSUPPLY": "book_and_supply_cost", "ROOMBOARD_ON": "room_and_board_on_cost", "OTHEREXPENSE_ON": "other_on_cost", "ROOMBOARD_OFF": "room_and_board_off_cost", "OTHEREXPENSE_OFF": "other_off_cost",

	"ADMCON7": "test_requirement", "STUFACR": "student_to_faculty_ratio"
}

cleanInstitutionDataDF = institutionDataDF[keptColumns].rename(columns=renamedColumns)
cleanInstitutionDataDF.head()

NameError: name 'institutionDataDF' is not defined